//
// solana-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
$body-bg: #101011 !default;

$black: #232323;
$white: #fff !default;
$gray-600: #869cb8;
$gray-600-dark: #34383a !default;
$gray-700-dark: #282a2d !default;
$gray-800-dark: #161821 !default;
$black-dark: #141518 !default;
$input-placeholder-color: #ccc !default;

$primary:  #0168e5 !default;
$success: #0CE814 !default;
$warning: #916807 !default;
$danger: #933860 !default;

$card-border-color: $gray-700-dark !default;
$card-outline-color: #111 !default;

$input-bg: transparent !default;
$input-border-color: $gray-600-dark !default;
$input-group-addon-color: $white !default;

$theme-colors: (
    'black': $black,
    'gray': $gray-600,
    'gray-dark': $gray-800-dark,
);
