//
// solana-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
$body-bg: #f9fdfc !default;

// Colors

$white: #ffffff !default;
$gray-100: #f9fbfd;
$gray-200: #f1f6f8;
$gray-300: #e5e8eb;
$gray-400: #c6d9e6;
$gray-500: #abc2d5;
$gray-600: #8698b8;
$gray-700: #696e85;
$gray-800: #384974;
$gray-900: #132336;
$black: #232323;

$rainbow-1: #fa62fc;
$rainbow-2: #be84e8;
$rainbow-3: #79abd2;
$rainbow-4: #38d0bd;
$rainbow-5: #1dd79b;

$primary:  #0168e5 !default;
$primary-dark:  #3070F6 !default;
$secondary: $gray-700;
$primary:  #0168e5 !default;
$success: #0CE814 !default;
$warning: #916707 !default;
$danger: #E80C6B !default;
$info: #2961A6 !default;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
    'black': $black,
    'gray': $gray-900,
) !default;

$card-border-color: $gray-300 !default;
$input-group-addon-color: $gray-900 !default;
$navbar-light-active-color: $primary-dark;
$link-color: $primary-dark;

// Global

.display-2 {
    font-family: Saira, Helvetica, sans-serif;
}

.text-rainbow {
    background: linear-gradient(0.3turn, #e400ff, #00ffbd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-rainbow {
    background: linear-gradient(0.3turn, #e400ff, #00ffbd);
}

.bg-rainbow-1 {
    background: #fa62fc;
}
.bg-rainbow-2 {
    background: #be84e8;
}
.bg-rainbow-3 {
    background: #79abd2;
}
.bg-rainbow-4 {
    background: #38d0bd;
}
.bg-rainbow-5 {
    background: #1dd79b;
}

.text-rainbow-1 {
    color: #fa62fc;
}
.text-rainbow-2 {
    color: #be84e8;
}
.text-rainbow-3 {
    color: #79abd2;
}
.text-rainbow-4 {
    color: #38d0bd;
}
.text-rainbow-5 {
    color: #1dd79b;
}

@media (max-width: 575px) {
    .bg-validator-row {
        background-color: #b45be1 !important;
    }
}

